<!DOCTYPE html>
<html>

<head>
  <title>FlashWizard</title>
</head>

<body>
  <h1>FlashWizard</h1>
  <a href="/create"> Create </a>
  <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
  <h2>All decks</h2>
  <ul>
    {% for deck in decks %}
  <li>
      {{ deck.name }}: {{ deck.description }} (Tags: {{ deck.tags or "" }})
      <form action="/deck/{{ deck.id }}/study" style="display: inline;">
        <button type="submit">Study</button>
      </form>
    {% if deck.user_id == session.user_id %}
      <form action="/deck/{{ deck.id }}/edit" style="display: inline;">
        <button type="submit">Edit</button>
      </form>
      <form action="/deck/{{ deck.id }}/delete" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    {% endif %}
  </li>
    {% endfor %}
  </ul>
</body>
</html>
